.idea
*.iml

backend/node_modules

frontend/node_modules
frontend/typings
frontend/out

mobile/node_modules
mobile/app/platforms
!mobile/app/platforms/*.json

mobile/app/plugins
!mobile/app/plugins/*.json
mobile/app/www


android-sdk
